.select {
    background-color: #cecece;
    color: #505050;
    border-radius: 5px;
    border: 3px solid #505050;
    padding: 7px;
}

.selectmessage {
    color: #ffffff;
}

.selectwrapper {
    margin-bottom: 29px;
}
